{% extends "base.html.twig" %}
{% set images = 
    [
        {
            'img': '1',
        },
        {
            'img': '2',
        },
        {
            'img': '3',
        },
        {
            'img': '4',
        },
        {
            'img': '5',
        },
        {
            'img': '6',
        },
        {
            'img': '7',
        },
        {
            'img': '8',
        },
        {
            'img': '9',
        },
        {
            'img': '10',
        },
        {
            'img': '11',
        },
        {
            'img': '12',
        },
        {
            'img': '13',
        },
        {
            'img': '14',
        },
        {
            'img': '15',
        },
        {
            'img': '16',
        },
        {
            'img': '17',
        },
        {
            'img': '18',
        },
        {
            'img': '19',
        },
        {
            'img': '20',
        },
        {
            'img': '21',
        },
        {
            'img': '22',
        },
        {
            'img': '23',
        },
        {
            'img': '24',
        },
        {
            'img': '25',
        },
        {
            'img': '26',
        },
        {
            'img': '27',
        },
        {
            'img': '28',
        },
        {
            'img': '29',
        },
        {
            'img': '30',
        },
        {
            'img': '31',
        },
        {
            'img': '32',
        },
        {
            'img': '33',
        },
        {
            'img': '34',
        },
        {
            'img': '35',
        },
        {
            'img': '36',
        },
        {
            'img': '37',
        },
        {
            'img': '38',
        },
        {
            'img': '39',
        },
        {
            'img': '40',
        },
    ] 
%}

{% block body %}

    <section class="hero is-large">
        {% include "includes/banner-hero.html.twig" with {
            'title' : 'Harriet Joyce Artwork',
            'subtitle' : 'High quality custom artwork. Made to order.',
            'background_img' : '/images/hi-res-images/32.jpg'
        } %}
    </section>

    <section id="about">
        <div class="container">
            <h3 class="is-size-3">Why pet portraits?</h3>
            <p>Looking for that perfect gift, but have no inspiration? Well look no further! I work with my clients to create beautiful shots of your beloved animal, however big or small! After a thorough consultation period to ensure the design really captures your pets personality I get to work. Using acrylic paints to produce my paintings I ensure that not only is your pets likeness portrayed, but their personality too!</p>
            <p>If you'd love your very own pet portrait, it couldn't be easier! Just follow the steps below and you'll have your very own original painting, the perfect gift for any animal lover you know.</p>
            <hr class="is-divider" data-content="x">
        </div>

        <section id="gallery">
            <div class="container has-text-centered">
                <h3 class="is-size-3">Recent Works</h3>
                <p>My most recent commmissions are posted here. To view more of my work, view my <a href="/gallery">gallery</a>, or check out my <a href="">Instagram</a>!</p>
                <div class="columns is-multiline">
                    {% for key, value in images|reverse|slice(0,3) %}
                        <div class="column is-one-third-desktopis-half-tablet">
                            <figure class="image is-256-256">
                                <img src="/images/thumbnails/{{ value.img }}.jpg" href="/images/hi-res-images/{{ value.img }}.jpg">
                            </figure>
                        </div>
                    {% endfor %}
                </div>
                <a href="" class="button is-light">View Gallery</a>
            </div>
        </section> 
    
        <div class="container">
            <h2 class="has-text-centered is-size-2">So how does it work?</h3>
            <hr class="is-divider" data-content="x">
            <div class="columns pb-5 mx-6">
                <div class="column col-content-position">
                    <h3 class="subtitle is-size-3">
                        Step 1: Get in touch!
                    </h3>
                    <p>Every piece I make is produced completely indepedently, and I really try and take my time to ensure each piece captures the likeness of your comanion. As a result, each piece takes time and to avoid long wait times, I offer select windows through which I can accept new commisions. so please get in touch! I will <i>always</i> respond to all enquiries, and hopefully be able to open a consultation with you!</p>
                    <a href="mailto:harriet.joyce@live.co.uk" class="button btn-primary">Email now!</a>
                </div>
                <div class="column col-img-pos">
                    <div class="col-img-bg">&nbsp;</div>
                </div>
            </div>
            <hr class="is-divider" data-content="x">
            <div class="columns mobile-columns-reverse py-5 mx-6">
                <div class="column col-img-pos">
                    <div class="col-img-bg">&nbsp;</div>
                </div>
                <div class="column col-content-position">
                    <h3 class="subtitle is-size-3">
                        Step 2: Consultation.
                    </h3>
                    <p>Depending on what you've requested, I'll be in touch to work with you on possible ideas to create the best piece possible. Once we've established what you'd like in the piece I'll get to work!</p>
                </div>
            </div>
            <hr class="is-divider" data-content="x">
            <div class="columns py-5 mx-6">
                <div class="column col-content-position">
                    <h3 class="subtitle is-size-3">
                        Step 3: Wait for the post!
                    </h3>
                    <p>In a couple of weeks the piece should be finished and with you! I put a lot of love into every piece I create and really try to make each one unique so please understand this timescale is fluid and varies with each painting.</p>
                </div>
                <div class="column col-img-pos">
                    <div class="col-img-bg">&nbsp;</div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="gallery">
        <div class="container">
            <div class="columns is-multiline">
                {% for key, value in images|reverse|slice(0,8) %}
                    <div class="column is-one-quarter-desktop is-half-tablet">
                        <img src="/images/thumbnails/{{ value.img }}.jpg" class="gallery-item" href="/images/hi-res-images/{{ value.img }}.jpg">
                    </div>
                {% endfor %}
            </div>
        </div>
    </section> -->

{% include "includes/footer.html.twig" %}

<script src="{{ asset('js/app.js') }}"></script>

{% endblock %}
